<div class="row">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand logo" [routerLink]="['/sobre']" style="height: 79px; padding: 0px;"><img src="assets/logo/logo_fish.jpg" title="{{ title }}" ></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">

         <ul class="nav navbar-nav" >
          <li><a [routerLink]="['/sobre']" data-toggle="collapse" data-target=".navbar-collapse" target="_self">Sobre o FRISK</a></li>
          <li><a [routerLink]="['/objectivos']" data-toggle="collapse" data-target=".navbar-collapse" target="_self">Objectivos</a></li>
          <li><a [routerLink]="['/precisamos-de-si']" data-toggle="collapse" data-target=".navbar-collapse" target="_self">Precisamos de si</a></li>
          <li><a [routerLink]="['/gallery']" data-toggle="collapse" data-target=".navbar-collapse" target="_self">As especies</a></li>
          <li><a [routerLink]="['/equipa']" data-toggle="collapse" data-target=".navbar-collapse" target="_self">Equipa</a></li>
          <li><a [routerLink]="['/contactos']" data-toggle="collapse" data-target=".navbar-collapse" target="_self">Contactos</a></li>
        <!--   <li><a href="#">Boats</a></li> -->
        <!--   <li><a href="#">Hiking</a></li> -->
        <!--   <li><a href="#">London</a></li> -->
         </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</div>
