<div class="row">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand logo" [routerLink]="['/sobre']">{{ title }}</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
          <li><a [routerLink]="['/sobre']">Sobre o FRISK</a></li>
          <li><a [routerLink]="['/objectivos']">Objectivos</a></li>
          <li><a [routerLink]="['/precisamos-de-si']">Precisamos de si</a></li>
          <li><a [routerLink]="['/gallery']" class="active">As especies</a></li>
          <li><a [routerLink]="['/equipa']">Equipa</a></li>
          <li><a [routerLink]="['/contactos']">Contactos</a></li>
        <!--   <li><a href="#">Boats</a></li> -->
        <!--   <li><a href="#">Hiking</a></li> -->
        <!--   <li><a href="#">London</a></li> -->
         </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</div>
